{% extends 'base.html' %}

<body>
    {% block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-plus 5x"></i> Añadir tarifa.</h1>
                </div>
            </div>
            <div class="row" >
                <div class="col-lg-12">
                    <div class="panel panel-default" id="listar">
                        <div class="panel-heading">
                            <strong><i class="fa fa-edit"></i> FORMULARIO DE ENTRADA</strong>
                        </div>
                        <div class="panel-body">

                        <div class="col-lg-6">    
                            <form method="post" role="form" id="passengerForm">
                                {% csrf_token %}
                                
                                <div class="form-group">
                                    <label for="nombre"><i class="fa fa-user"></i> Nombre:</label>
                                    <input type="text" id="nombre" name="nombre" class="form-control" maxlength="50" required="">
                                </div>

                                <div class="form-group">
                                    <label for="descripcion"><i class="fa fa-book"></i> Descripcion:</label>
                                    <input type="text" id="descripcion" name="descripcion" class="form-control" maxlength="100" required placeholder="Consiste en...">
                                </div>

                                <div class="form-group">
                                    <label for="descuento"><i class="fa fa-money"></i> Descuento:</label>
                                    <input type="text" id="descuento" name="descuento" class="form-control" maxlength="2" placeholder="Por ciento %">
                                </div>
                            </div>
                                <div class="col-lg-6">
                                </br>
                                    <div class="alert alert-warning">
                                        <h3 style="margin-top:0px;"><i class="fa fa-warning 5x"></i> Atención</h3>
                                        <p>Es necesario cumplir con la politica de datos del sistema para su
                                           correcto guardado, y evitar informacion incorrecta.
                                        </p></br>
                                        <i class="fa fa-user"></i> <strong>Mensaje del Administrador</strong>
                                        <p>Favor de atender los campos introducidos y sus alertas </p>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <input type="submit" value="Guardar" class="btn btn-success">
                                        <a href="{% url 'listar_tarifas' %}" class="btn btn-default">  <i class="fa fa-arrow-circle-left"></i> Retroceder</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>

{% block javascript %}
{{ block.super }}

{% endblock %}
